Repository optimad/bitpit, pull requests merged in 2021-11, with the labels that each got.

#236 patchkernel: fix cell rank from consecutive id getter
  src/patchkernel/patch_info.cpp
Labels: bug, patchkernel

#227 levelset: use more descriptive names for VTK fields
  src/levelset/levelSetObject.cpp
  src/levelset/levelSetObject.hpp
Labels: enhancement, levelset

#239 cmake: fix definition of BITPIT_CMAKE_CONFIG_PATH_LAST variable in BITPITConfig.cmake.in
  INSTALL.md
  cmake/BITPITConfig.cmake.in
Labels: bug

#241 patchkernel: fix Element::getBinarySize method
  src/patchkernel/element.cpp
Labels: bug

#226 containers: merge sync actions when adding them to the journal
  src/containers/piercedStorage.tpp
  src/containers/piercedSync.cpp
  src/containers/piercedSync.hpp
Labels: enhancement, containers

#244 patchkernel: add missing implementation of internalVertexConst* methods
  src/patchkernel/patch_kernel.cpp
Labels: bug, patchkernel

#242 RBF: fix data set removal
  src/RBF/rbf.cpp
Labels: bug, RBF

#248 patchkernel: add missing implementation of getLastInternalVertex methods
  src/patchkernel/patch_kernel.cpp
Labels: bug, patchkernel
