Repository optimad/bitpit, pull requests merged in 2022-09, with the labels that each got.

#320 discretization: properly cast assembler to be used for stencil solver update
  src/discretization/stencil_solver.tpp
Labels: bug, M - discretization

#319 IO/DGF: make sure the current position in the file is properly initialized
  src/IO/DGF.cpp
Labels: M - IO

#330 containers: fix PiercedStorage copy/move constructors
  src/containers/piercedStorage.hpp
  src/containers/piercedStorage.tpp
Labels: bug, M - containers

#340 common: add message to deprecated macros
  src/common/compiler.hpp
Labels: enhancement, M - common, P3 - Low

#332 patchkernel: reset index generators after renumbering cells/vertices/interfaces
  src/patchkernel/patch_kernel.cpp
  src/patchkernel/patch_kernel.hpp
Labels: bug, M - patchkernel

#338 common: fix timestamp displayed by the logger
  src/common/logger.cpp
Labels: bug, M - common

#343 cmake: fix compilation when clang-format is not available
  external/clang-format/cmake/ClangFormat.cmake
  src/CMakeLists.txt
  test/CMakeLists.txt
Labels: bug

#326 patchkernel: add alteration flags to the data structures that will be squeezed
  src/patchkernel/patch_kernel.cpp
Labels: enhancement, M - patchkernel
