Repository optimad/bitpit, pull requests merged in 2023-04, with the labels that each got.

#378 patchkernel: fix evaluation of normal for polygonal elements
  src/patchkernel/element.cpp
Labels: bug, M - patchkernel

#385 voloctree: fix adaption alter typo
  src/voloctree/voloctree.cpp
Labels: enhancement, M - voloctree

#388 IO: add missing PCells section in VTK parallel files
  src/IO/VTKUnstructured.cpp
Labels: bug, M - IO

#384 voloctree: simplify adaption info emplace_back
  src/voloctree/voloctree.cpp
Labels: enhancement, M - voloctree

#390 test: fix volunstructured tests
  test/integration_tests/volunstructured/test_volunstructured_parallel_00001.cpp
  test/integration_tests/volunstructured/test_volunstructured_parallel_00002.cpp
  test/integration_tests/volunstructured/test_volunstructured_parallel_00005.cpp
Labels: bug
