Repository optimad/bitpit, pull requests merged in 2023-11, with the labels that each got.

#415 containers: merge pierced synchronization actions of type overwrite
  src/containers/piercedStorage.tpp
  src/containers/piercedSync.cpp
  src/containers/piercedSync.hpp
Labels: enhancement, M - containers

#433 RBF: fix matrix definition in solve and solveLSQ methods
  src/RBF/rbf.cpp
Labels: bug, M - RBF, P1 - High

#409 containers: add a dedicated function to swap boolean values stored in a PiercedStorage
  src/containers/piercedStorage.hpp
  src/containers/piercedStorage.tpp
Labels: M - containers
