Repository optimad/bitpit, pull requests merged in 2023-12, with the labels that each got.

#396 cicd: add github configuration to run continuous integration
  .github/workflows/continuous_integration.yml
  .travis.yml
  environments/ubuntu/Dockerfile
Labels: enhancement

#435 POD: fix pod kernel clear
  src/POD/pod.cpp
Labels: bug, M - POD

#437 common: fix initialization order of FileHandler members
  src/common/fileHandler.cpp
Labels: M - common

#438 RBF: fix initialization order of RBF members
  src/RBF/rbf.hpp
Labels: enhancement
